<a href="https://colab.research.google.com/github/royarkaofficial/DataOps-Lab1-23th-Dec-2024/blob/main/Copy_of_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variable**

In [ ]:
age1 = 25

In [ ]:
age = "20"

In [ ]:
print (age)

20

In [ ]:
print(age1)

25

In [ ]:
name = "Cherry"

In [ ]:
type(name)

str

In [ ]:
type(age1)

int

Updating the variables

In [ ]:
count = 10
count = count + 5

In [ ]:
count

15

In [ ]:
count = 25
count += 5

In [ ]:
count

30

In [ ]:
count -= 5

In [ ]:
count

25

In [ ]:
count *= 2

In [ ]:
count

50

In [ ]:
count /= 3

In [ ]:
count

16.666666666666668

Multiple variable Assignments

In [ ]:
a , b, c, d = 10 , 20 , 30 , 40

In [ ]:
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [ ]:
x = y = z= s= 10000

In [ ]:
print(x)
print(y)
print(z)
print(s)

10000
10000
10000
10000

Dynmaic Typing

In [ ]:
x = "hello"
x = 15

In [ ]:
type(x)

int

Input Output Operators

In [ ]:
 a = input()
 print(a)

50
50

In [ ]:
b = input("Enter your name: ")
print(b)

Enter your name: 10
10

In [ ]:
height = float(input("Enter your height: "))
print(height)

Enter your height: 5
5.0

In [ ]:
type(height)

float

Output operator

In [1]:
print("hello world")

hello world

In [2]:
name = "Sushravya"
age = "60"
print('My name is',name,'and my age is',age)

My name is Sushravya and my age is 60

In [3]:
print(f"My name is {name} and my age is {age}")

My name is Sushravya and my age is 60

Conditional Control Statements

Basic IF Statement

In [ ]:
age = 26
if age >= 18 :
  print("You are eligible to vote!")

You are eligible to vote!

IF ELSE statements

In [ ]:
age = 16
if age >= 18 :
  print("You are eligible to vote!")
else :
  print("You are not eligible to vote")

You are not eligible to vote

elif statements

In [ ]:
score = 15
if score >= 90 :
  print("Grade A")
elif score >= 80 :
  print("Grade B")
elif score >= 70 :
  print("Grade C")
elif score >= 60 :
  print("Grade D")
else :
  print("Grade F")

Grade F

Nested IF statement

In [ ]:
age = 10
voter_id = "yes"
if age >=18 :
  if voter_id == "yes":
    print("You are eligble to vote")
  else :
    print("You are not eligible to vote")
else :
  print("You are not eligible to vote")

You are not eligible to vote

**LOOPS**

FOR loop

In [4]:
fruits = ["apple","orange","grapes"]
print(fruits)

['apple', 'orange', 'grapes']

In [ ]:
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
orange
grapes

In [ ]:
for i in fruits :
  print(i)
print("These are the fruits")

apple
orange
grapes
These are the fruits

In [ ]:
for i in range(10):
  print("I'm at",i,"position")

I'm at 0 position
I'm at 1 position
I'm at 2 position
I'm at 3 position
I'm at 4 position
I'm at 5 position
I'm at 6 position
I'm at 7 position
I'm at 8 position
I'm at 9 position

While Loop

In [ ]:
count = 0
while count <= 10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9
10

Control statements in Loops (Break and Continue)

In [5]:
for i in range (10):
  if i == 5 :
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range (10):
  if i == 5 :
    continue
  print(i)

0
1
2
3
4
6
7
8
9

Nested Loop

In [ ]:
matrix = [[1,2],[3,4],[6,7]]
print(matrix)

[[1, 2], [3, 4], [6, 7]]

In [ ]:
for i in matrix :
  print(i)

[1, 2]
[3, 4]
[6, 7]

In [ ]:
for i in matrix :
  for j in i:
    print(j)

1
2
3
4
6
7

In [10]:
r = 25
for i in range(r, 0, -1):
    for j in range(i):
        print("*", end="")  # Print stars on the same line
    print()  # Move to the next line after each row

*************************
************************
***********************
**********************
*********************
********************
*******************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [11]:
r = 25
for i in range(r):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************

LISTS

In [ ]:
a = ["shravya",608,"Cheery","CloudThat",6562]

In [ ]:
type(a)

list

In [ ]:
print(a[2])
print(a[3])

Cheery
CloudThat

Modify list

In [ ]:
a.append(6)
print(a)

['shravya', 608, 'Cheery', 'CloudThat', 6562, 6]

In [ ]:
b = [66,"abcd",98,"AI"]
a.extend(b)
print(a)

['shravya', 608, 'Cheery', 'CloudThat', 6562, 6, 66, 'abcd', 98, 'AI']

In [ ]:
a.insert(2,"Hi all")
print(a)

['shravya', 608, 'Hi all', 'Cheery', 'CloudThat', 6562, 6, 66, 'abcd', 98, 'AI']

In [ ]:
a[2] = "Hello Everyone"
print(a)

['shravya', 608, 'Hello Everyone', 'Cheery', 'CloudThat', 6562, 6, 66, 'abcd', 98, 'AI']

In [ ]:
del a[7]
print(a)

['shravya', 608, 'Hello Everyone', 'Cheery', 'CloudThat', 6562, 6, 'abcd', 98, 'AI']

In [ ]:
a.remove(6)
print(a)

['shravya', 608, 'Hello Everyone', 'Cheery', 'CloudThat', 6562, 'abcd', 98, 'AI']

In [ ]:
a.pop(1)
print(a)

['shravya', 'Hello Everyone', 'Cheery', 'CloudThat', 6562, 'abcd', 98, 'AI']

In [12]:
# Outer loop controls rows
for i in range(1, 4):  # Rows: 1 to 3
    # Inner loop controls columns
    for j in range(1, 4):  # Columns: 1 to 3
        print(f"({i}, {j})", end=" ")
    print()  # Move to the next line after finishing a row

(1, 1) (1, 2) (1, 3)
(2, 1) (2, 2) (2, 3)
(3, 1) (3, 2) (3, 3)

In [14]:
rows = 25
for i in range(1, rows + 1):  # Outer loop for rows
    for j in range(i):  # Inner loop for columns
        print("*", end="")  # Print stars on the same line
    print()  # Move to the next line after finishing a row

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************